<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Phone Book View</title>
</head>
<body>
    <table border = 1>
        <tr>
            <th> Name </th>
            <th> Phone Number </th>
            <th> Email Address </th>
        </tr>
        {% for i in result %}
            <tr>
                <th> {{ i["name"] }} </th>
                <td> {{ i["phone_number"] }} </td>
                <td> {{ i["email"] }} </td>
            </tr>
        {% endfor %}
      </table>
</body>
</html>